body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(229, 158, 91);
}

h1 {
    font-size: 14rem;
    font-family: 'Times New Roman', Times, serif;
}

.letter {
    transition: color 1000ms;
}